# Ignore system directories and unnecessary files
AppData/
.android/
.gradle/
.cache/
node_modules/
*.log
*.tmp
.DS_Store
Thumbs.db
*.class

# Ignore common IDE files
.vscode/
*.iml
*.idea/

# Ignore system-specific files
desktop.ini
*.swp

# Ignore other unwanted files
__pycache__/
*.pyc
*.pyo
*.json
*.env
*.wav
